[submodule "public/lib/jslib"]
	path = public/lib/jslib
	url = http://www.github.com/perseids-project/jslib
[submodule "public/apps/imgcollect"]
	path = public/apps/imgcollect
	url = https://github.com/perseids-project/imgcollect_angular
