[submodule "public/lib/jslib"]
	path = public/lib/jslib
	url = http://www.github.com/caesarfeta/jslib
[submodule "public/apps/imgcollect"]
	path = public/apps/imgcollect
	url = https://github.com/caesarfeta/imgcollect_angular
