.button.wide {
	width: 100%;
}
.button.micro {
	font-size: .5em;
	padding: .3em .5em;
}
.gray-bg {
	background-color: #EFEFEF;
}
table.tiny {
	font-size: .75em;
}
table.tiny td {
	padding: 0px 10px;
}
table.tiny td:first-child {
	text-align: right;
}
input[type=text] {
	padding: 6px;
	min-width: 200px;
}
.form-g input {
	margin-bottom: 25px;
}
.form-g {
	padding-top: 0.9375em;
	padding-bottom: 0.9375em;
}
.form-g span {
	display: inline-block;
	width: 80px;
	color: #AAA;
	padding: 0 10px;
	text-align: right;
}
.form-g .button.wide {
	margin-bottom: 0;
}

ul.tight {
    list-style: none;
    padding:0;
    margin:0;
}

ul.tight li { 
    padding-left: 1em; 
}

ul.tight li:before {
    content: "• ";
    color: red; /* or whatever color you prefer */
}

.message {
	text-align: center;
	color: #66AA66;
}

pre {
	overflow-x: scroll;
	padding: 5px;
	background-color: #222;
	color: #CCC;
	min-height: 200px;
}

textarea {
	width: 100%;
	min-height: 200px;
}

section {
	margin-bottom: 40px;
}