<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation</title>
    <link rel="stylesheet" href="stylesheets/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body id='content' ng-app='app' ng-controller='controller'>
	
	<!-- Config Info -->
	<section id="info">
	<div class="row">
		<div class="small-12 medium-2 columns">
			<a target="_blank" href="foundation.html" class="button secondary tiny">UI Reminders</a>
		</div>
		<div class="small-12 medium-6 columns">
			<span id="save_dir">{{ save_dir }}/</span><input ng-change="refresh()" placeholder="symbol" type="text" ng-model="path" size="20" />
			<a href="" ng-click="open()" class="button secondary tiny">Open</a>
			<a target="_blank" href="{{ save_url }}" target="_blank" class="button secondary tiny">Check</a>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<div id="message">{{ msg }}</div>
		</div>
	</div>
	</section>
	  
	<!-- Angular -->
	<section id="save">
	<div class="row">
	  <div class="columns small-12 medium-4">
		<form ng-submit="save()">
		  <input ng-change="form_id('symbol')" placeholder="symbol" type="text" ng-model="form.symbol" size="20" />
		  <input ng-change="form_item()" placeholder="name" type="text" ng-model="form.name" size="20" />
		  <input ng-change="form_item()" placeholder="weight" type="text" ng-model="form.weight" size="20" />
		  <input ng-change="form_item()" placeholder="number" type="text" ng-model="form.number" size="20" />
		  <input class="button tiny" type="submit" value="Save" />
		  <a ng-click="form_clear()" class="button tiny">Clear</a>
		</form>
	  </div>
	  <div class="columns small-12 medium-8">
	    <pre>{{ pretty }}</pre>
	  </div>
	</div>
	</section>
	<!-- Cmd Features -->
	<section id="cmd">
	<div class="row">
	  <div class="columns small-12 medium-4">
		<a href="" class="button tiny secondary" ng-click="cmd('ls')">{{ save_dir }}?cmd=ls</a>
	  </div>
	  <div class="columns small-12 medium-8">
		<pre class="std_out">{{ std_out }}</pre>
	  </div>
	</div>
	</section>
	
	<!-- Search Features -->
	<section id="search">
	<div class="row">
	  <div class="columns small-12 medium-4">
		<textarea ng-model="search"></textarea>
		  <input type="submit" value="Query" ng-click="query()" class="button tiny" ></span>
	  </div>
	  <div class="columns small-12 medium-8">
	    <pre class="sparql">{{ sparql_json }}</pre>
	  </div>
	</div>
	</section>
	
	<!-- Library -->
	<script src="/lib/jslib/src/js/StringExt.js" type="text/javascript"></script>

	<!-- JQuery & Foundation -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>

	<!-- Angular -->	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
	<script src="angular/app.js" type="text/javascript"></script>
	<script src="angular/controller.js" type="text/javascript"></script>
	<script src="angular/json.js" type="text/javascript"></script>
	<script src="angular/sparql.js" type="text/javascript"></script>
	
	<!-- Application -->
    <script src="js/app.js"></script>

  </body>
</html>
